<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título de la Página</title>
  <link rel="stylesheet" href="landing.component.css">
</head>
<body>

  <header class="banana">
    <div class="kiwi">
      <img src="assets/img/ZONA.png" alt="" class="mango">
    </div>
  </header>

  <section class="apple">
    <div class="pear">
      <h1>Landing Page DropCoding</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae illo repellat tempora voluptates, reprehenderit quos nam repellendus aspernatur corrupti perspiciatis beatae quo ipsum delectus?</p>
      <div class="peach">
        <a href="/" class="grape">Llamada a la acción</a>
      </div>
    </div>
  </section>

  <section class="orange">
    <div class="cherry">
      <img src="img/android.png" alt="" class="fig">
      <img src="img/apple.jpg" alt="" class="fig">
      <img src="img/microsoft.jpg" alt="" class="fig">
      <img src="img/web.jpg" alt="" class="fig">
    </div>
  </section>

  <section class="plum">
    <div class="lemon">
      <h2>Categorías de Servicios</h2>
    </div>

    <div class="lime">
      <a href="" class="berry">
        <img src="img/1.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/2.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/3.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/4.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/5.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/3.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/1.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/2.jpg" alt="">
        <p>Item categoría</p>
      </a>
      <a href="" class="berry">
        <img src="img/3.jpg" alt="">
        <p>Item categoría</p>
      </a>
    </div>
  </section>

  <section class="melon">

    <div class="lemon">
      <h2>Características de nuestros Servicios</h2>
    </div>

    <div class="coconut">
      <div class="date">
        <img src="assets/img/zonaV.jpg" alt="">
      </div>

      <div class="date">
        <div class="papaya">
          <h3>Más Características</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facilis, nemo distinctio beatae quod molestiae illo dolores voluptas quae, autem corrupti maiores similique earum eaque aliquam at modi doloribus. Nam officiis sequi modi! Ipsum, vel!</p>
          <div class="peach">
            <a href="/" class="grape">Llamada a la acción</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="melon form">

    <div class="lemon">
      <h2>Formulario de Contacto</h2>
    </div>

    <div class="coconut">

      <div class="date">
        <div class="papaya">
          <h3>Contacta con nosotros</h3>

          <form action="procesar_formulario.php" method="post" class="form">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required="">
            <br><br>

            <label for="asunto">Asunto:</label>
            <input type="text" name="asunto" id="asunto" required="">
            <br><br>

            <label for="mensaje">Mensaje:</label>
            <br>
            <textarea name="mensaje" id="mensaje" rows="4" cols="40" required=""></textarea>
            <br><br>

            <input type="submit" value="Enviar" class="grape">
          </form>

        </div>
      </div>

      <div class="date">
        <img src="img/disenador-trabajando2.jpeg" alt="">
      </div>
    </div>
  </section>

  <footer class="durian">
    <div class="pomegranate">
      <div class="watermelon">
        <ul>
          <li>
            <a href="">
              <img src="img/facebook.svg" alt="" class="social-logo">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/twitter.svg" alt="" class="social-logo">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/youtube.svg" alt="" class="social-logo">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/instagram.svg" alt="" class="social-logo">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="guava">
      <div class="dragonfruit">
        <ul>
          <li><a href=""></a>Inicio</li>
          <li><a href=""></a>Servicios</li>
          <li><a href=""></a>Quienes Somos</li>
          <li><a href=""></a>Blog</li>
          <li><a href=""></a>Contacto</li>
        </ul>
      </div>
    </div>

    <div class="guava">
      <div class="creds">
        <p>©copytight 2023 - dropcoding.com - Todos los derechos reservados.</p>
      </div>
    </div>

  </footer>

</body>
</html>
